<div style="width: 100%; height: calc(100vh - 0px); background: #bbbdc0; margin:0 auto;">	
	<center style="width: 750px; z-index: 1; height: auto; position: absolute; top: 50%; left: 50%; background: #fff;  transform: translate(-50%, -50%);  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); font-family: 'Poppins', sans-serif; padding: 20px">
		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    	<div>
							<img src="https://test.bdsdtechnology.com/ttsproduct/uploads/logo/home-logo.png" alt="logo.png" class="CToWUd" data-bit="iit" style="margin-bottom:10px; width:150px; height: auto; object-fit: contain;">
						</div>
						<p style="margin-bottom:20px; text-align: center; text-transform: uppercase; font-weight: bold;">Voucher</p>
				    </td>
			</tr>
		</table>

		<table style=" text-align: left; float: left; width:50%; border-collapse: collapse; border: 1px solid #ddd;" cellspacing="0" cellpadding="0">
			  <tr >
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Booking Id :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">APJ91</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: right; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Booking Date :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">28 Dec 2020</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: right; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> Package Type :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">Standard</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: right; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> Lead Guest Name :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">Mr dsada dsada</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: right; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Travel Date : </td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">  13 Jan 2021</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: right; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">No. of Pax :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;"> 2 Adult</td>
			  </tr>
		</table>



		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    	
						<p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Price Summary</p>
				    </td>
			</tr>
		</table>

		<table style=" text-align: left; float: left; width:50%; border-collapse: collapse; border: 1px solid #ddd;" cellspacing="0" cellpadding="0">
			  <tr >
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Package Cost :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">Rs. 25998</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Convenience Fee :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;"> Rs. 546</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> Add GST 5 % :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">Rs. 1327</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> Add TCS 5 % :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">Rs. 1394</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> Total Package Cost :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;"> Rs. 29265</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Net Payable Amount :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">  Rs. 29265</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:100%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> You Pay :</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">  Rs. 7316</td>
			  </tr>
		</table>

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    	
						<p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Description of Service</p>
				    </td>
			</tr>
		</table>

		<table style=" text-align: left; float: left; width:50%; border-collapse: collapse; border: 1px solid #ddd;" cellspacing="0" cellpadding="0">
			  <tr >
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Package Name : </td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">Best of Dubai</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:50%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;">Duration</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">3 Night / 4 Days</td>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:100%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <td style=" padding: 5px; font-weight: bold; font-size: 14px;"> Product Code</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">APJ0038</td>
			  </tr>
		</table>

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;">Accommodation</p>
				 </td>
			</tr>
		</table>
		<table style=" text-align: left;  float: left; width:100%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			  <tr style="">
			    <th style=" padding: 5px; font-weight: bold; font-size: 14px;">Destination</th>
			    <th style=" padding: 5px; text-align: right; font-weight: bold; font-size: 14px;">Standard</th>
			  </tr>
		</table>
		<table style=" text-align: left;  float: left; width:100%; border: 1px solid #ddd; border-collapse: collapse;" cellspacing="0" cellpadding="0">
			   <tr>
			  	<td style=" padding: 5px; font-weight: normal; font-size: 14px;">Dubai</td>
			    <td style=" padding: 5px; text-align: right; font-weight: normal; font-size: 14px;">City Max Bur Dubai 3* Or Similar</td>
			  </tr>
		</table>		

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Meals </p>
				 </td>
			</tr>
			<tr>
				<td style="width: 100%;">
				   <ul style="font-size: 14px;">
				   		<li style="margin: 5px 0;">Breakfast at the Hotel</li>
						<li style="margin: 5px 0;">Dinner at Dhow Marina Cruise</li>
						<li style="margin: 5px 0;">Dinner at Desert Safari</li>
				   </ul>
				 </td>
			</tr>
		</table>

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Inclusion  </p>
				 </td>
			</tr>
			<tr>
				<td style="width: 100%;">
				   <ul style="font-size: 14px;">
				   		<li style="margin: 5px 0;">Accommodation at the hotels mentioned or similar</li>
						<li style="margin: 5px 0;">All Tours & Transfers on SIC Basis</li>
						<li style="margin: 5px 0;">Breakfast at the Hotel</li>
						<li style="margin: 5px 0;">Desert Safari with BBQ Dinner</li>
						<li style="margin: 5px 0;">Dhow Marina cruise with Dinner</li>
				   </ul>
				 </td>
			</tr>
		</table>

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Exclusion </p>
				 </td>
			</tr>
			<tr>
				<td style="width: 100%;">
				   <ul style="font-size: 14px;">
				   		<li style="margin: 5px 0;">5 % GST Applicable</li>
						<li style="margin: 5px 0;">Airfare</li>
						<li style="margin: 5px 0;">Any seasonal surcharges</li>
						<li style="margin: 5px 0;">Any items or services not specified in the itinerary ‘INCLUSIONS’ head</li>
						<li style="margin: 5px 0;">Cost of foreign exchange for personal use</li>
						<li style="margin: 5px 0;">Destination Visa Charges</li>
						<li style="margin: 5px 0;">Guaranteed early check in or late check-out. This is completely at the discretion of the hotel and we can only</li>
						<li style="margin: 5px 0;">put in a request for the same</li>
						<li style="margin: 5px 0;">Laundry, telephone, optional excursions and other items of a personal nature</li>
						<li style="margin: 5px 0;">Meals other than those specified (if any)</li>
						<li style="margin: 5px 0;">Ok to Board Charges</li>
						<li style="margin: 5px 0;">Tips and Porterage</li>
						<li style="margin: 5px 0;">Tourism Dirham Fees</li>
						<li style="margin: 5px 0;">Travel Insuranc</li>
				   </ul>
				 </td>
			</tr>
		</table>

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				    <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Day Wise Itinerary </p>
				 </td>
			</tr>
			<tr>
				<td style="width: 100%;">
				   <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Day - 1</p>
				</td>

			</tr>
			<tr>
				<td style="width: 100%;">
				   <p style="margin-bottom:0px; font-size: 13px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Dubai :- Arrival at Dubai | Dhow Cruise</p>
				</td>
				
			</tr>
			<tr>
				<td style="width: 100%;">
				   <p style="margin-bottom:20px; font-size: 14px; display: inline-block; text-align: left; line-height: 1.4;"> 
				   	 Arrive in Dubai Airport, Drives To Hotel & Later In The Evening You Will Enjoy The Dhow Cruise Relax Over Dinner
					And Admire The Illuminated Sights Of Dubai On This 2-Hour Cruise Aboard An Elegant ‘Dhow’— A Traditional
					Arabian Boat. Be Welcomed Onto The Gorgeous Wooden Craft And Savor A Scrumptious Buffet Dinner On Deck
					Or In The Panoramic Cabin As You Sail Around The Marina. Drink In The Views Of The Surrounding Skyscrapers
					And Landmarks, All Beautifully Lit Up Against The Night Sky; And Enjoy A Dazzling ‘Tanoura’ Performance Of
					Whirling-Dervish Style Dance As You Eat, Adding An Extra Touch Of Magic To The Occasion & Overnight The
					Hotel. 
				   </p>
				</td>
				
			</tr>
		</table>

		<table style=" text-align: left; width:100%;  border-collapse: collapse;">
			<tr>
				<td style="width: 100%;">
				   <p style="margin-bottom:20px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;"> Day - 2</p>
				</td>

			</tr>
			<tr>
				<td style="width: 100%;">
				   <p style="margin-bottom:0px; font-size: 13px; display: inline-block; text-align: left; text-transform: uppercase; font-weight: bold;">Dubai :- Half Day City Tour</p>
				</td>
				
			</tr>
			<tr>
				<td style="width: 100%;">
				   <p style="margin-bottom:20px; font-size: 14px; display: inline-block; text-align: left; line-height: 1.4;"> 
				   	After Having A Breakfast, Get Ready For The A Wonderful Opportunity To Discover The Traditional City Of
Merchants And Modern Dubai. Our Tour Begins With A Drive Into The Palm Jumeirah Dubbed As The Eighth
Wonder Of The World And Head For A Quick Photostop In Front Of The Atlantis Hotel. We Then Drive Towards The
Beautiful Jumeirah Mosque Built In The Year 1979 In The Tradition Of The Fatimi Mosques Of Egypt. Our Tour Is
Headed Towards The Famous Sheikh Zayed Road Highway To View Burj Khalifa Tower, The Tallest Building In
The World From A Long Distance. Our Jounery Continues Towards The Old Part Of The City Where We Pass
Impressive Palaces Of The Ruling Family Of Dubai On Our Way To The Famous Dubai Creek. Our Guide Then
Escorts Us To The Dubai Museum And The Al Fahidi Fort, Which Is A Almost Two Centuries Old And Is A Living
Monument Of Dubai’s Illustrious And Prominent Past. We Then Pay A Visit To The Famous Gold And Spice Souk
Where Bargains Galore Await. Your Next Stop Is At A Souvenir Shop Where You Will Have Time To Buy Antiques,
Souvenirs, Arts And Crafts. Our City Ends At The Iconic Burj Al Arab Hotel With A Stop Outside The Hotel For
Photographs. Return To Your Hotel With Wonderful Memories.
After Explore The City Tour You Can Go For Cover Some Market Area At Your Own Expense. Rest Overnight Stay
At Hotel. 
				   </p>
				</td>
				
			</tr>
		</table>
	</center>
</div>